<div class="container_reg">
    
    <form class="box">
        <h1 class="heading_1">Register</h1>
        <div>
            <input type="text" class="reg_input" placeholder="First Name"[formControl]="f_name"> 
            <input type="text" class="reg_input" placeholder="Last Name"[formControl]="l_name">
        </div>
        <div>
            <input type="text" class="reg_input" placeholder="Email id" [formControl]="email">
        </div>
        <div>
            <input type="password" class="reg_input" placeholder="Password" [formControl]="pswd">
        </div>
        <div>
            <input type="password" class="reg_input" placeholder="Confirm Password" [formControl]="conf_pswd">
        </div>
        <div>
            <input type="checkbox" checked> I accept <a id="terms" href="">Terms of Use</a>
        </div>
        <div>
            <button type="button" (click)="register()" id="reg_btn">Register</button> 
        </div>
        <div>
            Already have an account? <a routerLink="/login" id="login">Login</a>
        </div>
    </form>

</div>