<app-header></app-header>

<div class="container_about">
    <h1 class="heading_1">We are here for your good health</h1>

    <h2 class="heading_2">Why is health important?</h2>
    <p class="heading_2_p">Having good health is directly related to leading a productive life. The functionality of the body is
        interconnected
        between various organs. Keeping the organs healthy is essential for proper functioning. As health is the state
        of
        physical, mental and social well-being, having good health is important.</p>

    <p class="heading_2_p">If you look at the habits of successful people, many of them revolve around diet, exercise, meditation, and
        taking
        time out for friends and family. They understand that they cannot reach the peak of productivity in their
        money-making ventures without taking care of their health.</p>

    <p class="heading_2_p">Mental and physical health are probably the two most frequently discussed types of health. Spiritual, emotional,
        and financial health also contribute to overall health. Medical experts have linked these to lower stress levels
        and improved mental and physical well-being.
    </p>
    
    <h2 class="heading_2">How You Can Prevent Chronic Diseases</h2>
    
    <p class="heading_2_p">Eating healthy helps prevent, delay, and manage heart disease, type 2 diabetes, and other chronic diseases.</p>
    <ul class="healthly_points"> 
        <li>Get Regular Physical Activity. </li>
        <li>Avoid Drinking Too Much Alcohol.</li>
        <li>Get Screened.</li>
        <li>Get Enough Sleep.</li>
    </ul>
</div>

<app-footer></app-footer>