/* If the screen size is 1200px wide or more, set the font-size to 80px (laptop) */
@media (min-width: 1200px) {

    .heading_1 {
        padding: 2vh;
        background-color: purple;
        color: white;
    }

    .box {
        text-align: center;
        border: 3px solid black;
        margin: auto;
        height: 50vh;
        width: 25vw;
        background-color: white;
    }

    .container_contact {
        padding-top: 20vh;
        padding-bottom: 18vh;
    }

    #contact_submit {
        background-color: purple;
        border-radius: 2vh;
        padding: 1vh;
        width: 6vw;
        color: white;
        font-weight: bold;
    }

    .contact_field {
        margin: 2vh;
        padding: 1vh;
        border: 2px solid black;
        border-radius: 2vh;
        width: 40vh;
    }
}


/* If the screen size is smaller than 1200px, set the font-size to 80px (mobile) */
@media (max-width: 1200px) {

    .heading_1 {
        padding: 2vh;
        background-color: purple;
        color: white;
    }

    .box {
        text-align: center;
        border: 3px solid black;
        margin: 5vh;
        /* height: 50vh;
        width: 25vw; */
        background-color: white;
    }

    .container_contact {
        padding-top: 12vh;
        padding-bottom: 12vh;
    }

    #contact_submit {
        background-color: purple;
        border-radius: 2vh;
        padding: 1vh;
        margin: 1vh;
        width: 20vw;
        color: white;
        font-weight: bold;
    }

    .contact_field {
        margin: 2vh;
        padding: 1vh;
        border: 2px solid black;
        border-radius: 2vh;
        /* width: 40vh; */
    }
}